In [87]:
import json
import numpy as np
import demjson
import pandas as pd
import urllib
from ipykernel import kernelapp as app

In [88]:
# load data
data_path = "unique_inventor.csv"
unique_inventors = pd.read_csv(data_path)
query_eth_json_base = 'http://www.name-prism.com/api_eth/json/'

In [89]:
unique_inventors.head()

  inventor_first_name inventor_last_name inventor_country inventor_id
0                Atul            Purohit               AE   5891620-2
1                Ivan               Boyd               AE   4864621-1
2                Petr            Kubanek               AE   7741522-7
3               Barry             Potter               AE   5604215-2
4               Bruno         Schuermans               AE   6981358-4

In [90]:
unique_inventors.shape

(339453, 4)

In [91]:
# insert new colomns first
ethnicities = ['White', '2PRACE', 'Hispanic', 'Black', 'API', 'AIAN']
i = 4
for eth in ethnicities:
    new_col = pd.Series([0]*unique_inventors.shape[0])
    unique_inventors.insert(i, eth, new_col)
    i += 1

In [92]:
unique_inventors.head()

,inventor_first_name,inventor_last_name,inventor_country,inventor_id,White,2PRACE,Hispanic,Black,API,AIAN
0,Atul,Purohit,AE,5891620-2,0,0,0,0,0,0
1,Ivan,Boyd,AE,4864621-1,0,0,0,0,0,0
2,Petr,Kubanek,AE,7741522-7,0,0,0,0,0,0
3,Barry,Potter,AE,5604215-2,0,0,0,0,0,0
4,Bruno,Schuermans,AE,6981358-4,0,0,0,0,0,0

In [93]:
unique_inventors.shape

(339453, 10)

In [97]:
for i in range(unique_inventors.shape[0]):
#for i in range(500):
    name = unique_inventors.loc[i, 'inventor_first_name'] + ' ' + unique_inventors.loc[i, 'inventor_last_name']
    percent_code = urllib.request.quote(name)
    url = query_eth_json_base + percent_code
    response = urllib.request.urlopen(url).read()
    response = response.decode("utf-8") 
    result = json.loads(response)
    for eth in result:
        unique_inventors.loc[i, eth] = result[eth]

In [98]:
unique_inventors.head()

,inventor_first_name,inventor_last_name,inventor_country,inventor_id,White,2PRACE,Hispanic,Black,API,AIAN
0,Atul,Purohit,AE,5891620-2,0.000880,0.000571,0.000028,0.000026,0.998488,0.000006
1,Ivan,Boyd,AE,4864621-1,0.902345,0.001243,0.028425,0.058078,0.006581,0.003329
2,Petr,Kubanek,AE,7741522-7,0.993643,0.000127,0.002414,0.001375,0.002247,0.000194
3,Barry,Potter,AE,5604215-2,0.982732,0.000389,0.000944,0.013537,0.000969,0.001429
4,Bruno,Schuermans,AE,6981358-4,0.953755,0.000328,0.032996,0.006749,0.005625,0.000548

In [99]:
unique_inventors.to_csv("unique_names_test_results.csv")